div#search-box{
  min-height: 30px;
  margin: 3px;
  padding: 2px;
  width: 300px;
  z-index: 9999;
}
input#searchField{
  height: 30px;
  width: 250px;
  border: 1px solid #A3ABAC;
}
i.button{
  padding: 7px 15px;
  margin:2px 0;
  border: 1px solid #A3ABAC;
  border-left: none;
  cursor: pointer;
}
i.button:hover{
  background: #1f4b78;
  border: 1px solid #1f4b78;
  color: #FFF;
}
